{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" -}}
<main class="main layout__main">
    <div class="highlights">
        <div class="highlight-box">
            <img class="highlight-image" src="https://picsum.photos/200/300"></img>
            <div class="highlight-description">
                <p>Some highlight description. Awesome news!!!</p>
            </div>
        </div>
        <div class="highlight-box">
            <img class="highlight-image" src="https://picsum.photos/200/300"></img>
            <div class="highlight-description">
                <p>Some highlight description. Awesome news!!!</p>
            </div>
        </div>
    </div>
<article class="{{ with .Section }}section-{{ . | urlize }} {{ end }}single-view">
<div class="content">
{{ .Content }}
</div>
</article>

{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $paginator := .Paginate $pages -}}
{{ range $paginator.Pages -}}
{{ .Render "summary"}}
{{ end -}}

{{ partial "pagination.html" . }}
</main>
{{ end }}
